.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.card {
  min-width: 38ex;
  align-content: flex-start;
  margin-bottom: 3ex;
}

.title1{
  align-self: flex-start;
  margin-left: 2ex;
}
.title3{
  align-self: flex-start;
  color: #000;
}
.textinput{
  align-self: flex-end;
  text-align: center;
  width: 12ex;
  -ms-flex-align: center
}
.deletebutton{
  align-self: flex-end;
}
.title2{
  align-self: flex-start;
  margin-top: -0.08ex;
}
.title4{
  align-self: flex-end;
}
.App-body {
  background-color: #ffff;
  min-height: 40vh;
  margin-top: 5ex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
